.sticky-bottom {
    position: absolute;
    bottom: 5px;
    margin-bottom: 0; /* Ensure no additional margin interferes */
}
.carousel-inner {
    display: flex;
  }
  
  .carousel-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; /* Initially set to auto */
  }